html {
  min-height: 100%;
  min-width: 100%;
  margin: 0px;
}

body {
  min-height: 100%;
  min-width: 100%;
  padding: 0px 40px 0px 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

form {
  width: 550px;
  overflow: hidden;
}

.searchBar {
  width: 500px;
  margin: 25px 0px 0px 8px;
}


.header {
  background-color: #337AB7;
  height: 175px;
}

.header-content {
  margin-left: 200px;
  padding-top: 25px;
}

.logo {
  float: left;
}

.green {
  background: #A4CF43;
}

.barLink {
  margin-right: 20px; 
  color: white;

}

#logoutLink {
  color: white;
  float: right;
  margin-right: 150px;
}

.profileLink {
  margin: 0px 20px 20px 0px; 
  color: #337AB7;
}


.page-content {
  margin: 0px 200px 100px 200px;
}


footer {
  width: 100%;
  height: 200px;
  margin-top: 75px;
  font-size: 12px;
  left: 0;
  bottom: 0;
}

.footerSection {
  display: inline;
  float: left;
}

.footerTitle {
  color: #E5802E;
  font-weight: bold;
  margin: 25px 75px 5px 75px;
}

.footerText {
  color: #337AB7;
  margin: 5px 75px 5px 75px;

}
