@import url('http://fonts.googleapis.com/css?family=Oswald');

html, body {
  min-height: 100%;
  min-width: 100%;
}

.my-container {
  background-color: #F5F5F1;
  padding: 0;  
  margin: 0px;
  font: 14px Calibri, sans-serif;
  /*"Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

form {
  width: 550px;
  overflow: hidden;
  padding-left: 35px;
  margin-top: 25px;
}

.searchBar {
  width: 500px;
  margin: 16px 0px 0px 8px;
}


.header {
  background-color: #337AB7;
  height: 175px;
  position: relative;
}

.header-content {
  margin-left: 200px;
  padding-top: 25px;
}

.logo {
  float: left;
}

.green {
  background: #A4CF43;
}

.barLink {
  margin-right: 20px; 
  color: white;

}

.signUpLink {
  padding: 5px;
  border: 1px solid white;
  border-radius: 4px;
}

#logoutLink {
  color: white;
  float: right;
  margin-right: 150px;
}

.page-content {
  margin-left: 200px; /* Set to 100px for filler */
  width: 1100px;
  overflow: hidden;
  padding-bottom: 175px; /*by footer height*/
  float:left;
}

/* For other EJS files */
.other {
  margin-left: 200px;
}

.titleBar {
  background-color: #FFF;
  height: 90px;
  width: 950px;
  padding: 10px 0px 10px 20px;
  border-radius: 3px;
  border-top: 3px solid #b2a58e;
  border-bottom: 1px solid #c7bead;
}

.title {
  font-size: 28px;
  font-family: Oswald;
}

.my-breadcrumb {
  color: #A4A4A4;
  font-size: 24px;
  padding: 0 5px;
}

.gs {
  width: 320px;
  padding-bottom: 10px;
  margin: 20px 20px 10px 0px;
  text-align: center;
  display: inline;
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;

}

.gs:hover {
  border: 1px solid #A4CF43;
  /*
  border-color: #ddd;
  border-bottom-color: #bbb;
  */
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.inventoryForm {
  margin-top: 5px;
}

.inventoryInput {
  width: 153px;
}

.trade {
  text-align: left;
  padding-left: 10px;
}

.notrade {
  padding: 50px;
}

.titles {
  float:left;
  font-weight: bold;
  padding-right: 10px;
}

.tradeProp {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  color: #337AB7;
}

footer {
  width: 100%;
  height: 175px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  top: 3000px;
}

.footerSection {
  display: inline;
  float: left;
}

.footerTitle {
  color: #E5802E;
  font-weight: bold;
  margin: 25px 75px 5px 75px;
}

.footerText {
  color: #337AB7;
  margin: 5px 75px 5px 75px;

}

.posts {
    overflow: hidden;
    padding: 10px;
}

.ng-binding.ng-scope {
    float: left;
    list-style: none;
    margin-bottom: 20px;
    background-color: #FFF;
}

.menu {
  clear: both;
  position: absolute;
  bottom: 15px;
}

.input-group-addon {
    background: #a9d04b !important;
}

.posts img {
    width: 317.5px;
    height: 240px;
}

.post-blurb {
  padding-top: 10px;
  font-size: 18px;
}

.aboutText {
  width: 500px;
  padding: 0px 0px 20px 20px;
  overflow: hidden;
  color: #464646;
}

.map {
  float: left;
  width: 400px;
}

h3 {
  color: #a9d04b;
}

.profile-img {
  float: left;
  padding: 5px;
  border: 1px solid rgb(221, 221, 221);
  margin: 5px 15px 15px 15px;
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

}

.profile-section {
  float: left;
  display: inline;
  margin: 20px 40px 0px 0px;
  padding-top: 10px;
  width: 800px;
  height: 188px;
  border: 1px solid #d3d3d3;
  background-color: #FFF;
}

.profile {
  width: 399px;
  height: 120px;
  float: left;
}

.smallBtn {
  padding: 0px 5px 0px 5px;
}

.profileLink {
  margin: 0px 10px 0px 10px; 
  color: #337AB7;
  font-weight: bold;
}

.profile-feedback {
  width: 350px;
  height: 120px;
  overflow: hidden;
  padding-left: 20px;
}

.profile-trades {
  padding: 0px 20px 20px 20px;
  margin-left: 0px;
}


.footer-wrapper {
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
    position: absolute;
}

.page-column {
    width: 300px;
    overflow: hidden;
    margin: 40px 0px 0px 0px;
    display: inline-block;
}

main {
    overflow: hidden;
    margin: 0px 0px 0px 100px;
    width: 1500px;
}

.column-quantity {
  margin-top: 40px;
}

.page-column h4 {
    color: #ADD250;
}

.post-description {
  padding-top: 20px;
}

.post-menu li, .post-description li {
  list-style: none;
}

.post-image {
    float: left;
    margin-right: 20px;
    width: 300px;
}

.post-image img {
    margin-bottom: 10px;
    height: 200px;
    width: 300px;
}

