<div>

  <br>
  <h3 class="title">About</h3>
  <br>

<img class="map" src="./img/map.jpg">
<div class="aboutText">
Trading Post is where people can obtain new or used products without spending a dime. 
We are a bartering system that allows users to trade their own goods or services
with other users. Our mission is to create an alternative to the monetary 
system and strengthen bonds within local communities.
Want to get started? Go to our sign up page to create your own profile. Then search
for goods or services using the search bar and begin trading with other users!
</div>

<br><br><br><br><br>
<hr>
<div class="aboutText">
	<br>
	<h3 class="title">Terms and Services</h3>
	<br>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vulputate mi mi, sed consectetur ligula consectetur et. Quisque eget dolor nec sapien convallis vulputate vitae sed risus. Phasellus ultricies consequat tellus eu porttitor. Nunc a elit eget augue lobortis pretium. Vestibulum pharetra tristique volutpat. Fusce augue felis, interdum ac odio a, euismod posuere urna. Nunc vel consequat sapien. Phasellus a aliquet diam, ac facilisis ipsum. Maecenas cursus sapien eget ultrices convallis. Vivamus feugiat cursus ipsum condimentum posuere. Nam sit amet libero lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus id magna lobortis, egestas metus quis, consequat lacus.
</div>
