<div ng-controller="inventoryController">

  <br>
	<h3>
		<a href="#/profile">Profile</a>
		<span class="my-breadcrumb"> / </span>
		Inventory
	</h3>
  <br>

  <div ng-show="!isInventoryFound">
	You don't have anything in your inventory! Click "Add" to add a good
	 or service to your inventory. 
  </div>

  <ul class="posts">
     <li ng-repeat="item in inventory">
  	<img ng-if="item.imgUrl" ng-src="{{item.imgUrl}}">
  	<br>
  	<div class="post-blurb">Name: {{item.name}} {{item.type}}</div> 
  	 Owner: {{item.owner}}
  	<br>
  	 Quantity: {{item.quantity}}
  	<br>
	 Category: {{item.category}}
	<br>
	 Date Posted: {{item.datePosted}}
	<br>
     </li>
  </ul>


</div>