<div ng-controller="inventoryController">

  <br>
	<h3 class="title">
		<a href="#/profile">Profile</a>
		<span class="my-breadcrumb"> / </span>
		Inventory
	</h3>
  <br>

  <div ng-show="!isInventoryFound">
	You don't have anything in your inventory! Click "Add" to add a good
	 or service to your inventory. 
  </div>

  <ul class="posts">
     <li class="gs" ng-repeat="item in inventory">
  	<img ng-if="item.imgUrl" ng-src="{{item.imgUrl}}">
  	<br>
  	<div class="post-blurb">{{item.name}} ({{item.type}})</b></div> 
  	 <b>Category:</b> {{item.category}}
	<br>
  	 <b>Quantity:</b> {{item.quantity}}
	<br>
	 <b>Date Posted:</b> {{item.datePosted}}
	<br>
	<button ng-click="removeFromInventory(item);" class="btn btn-default glyphicon glyphicon-trash"></button>
     </li>
  </ul>


</div>