<div ng-controller="profileController">

  <br>
  <h3 class="title">Your Profile</h3>

  <br>
  <br>
  <div class="profile">
     <div class="profile-img">
        <img src="img/bareProfile.png">
     </div>

     <h4>{{user.username}}</h4>
     <h5>{{user.email}}</h5>
     <h5>ZIP {{user.zipcode}}</h5>
     <ul class="profile-menu">
        <li><a href="#/profile/inventory" class="profileLink">Inventory</a></li>
        <li><a href="#/profile/wishlist" class="profileLink">Wishlist</a></li>
        <li><a href="#/profile/messages" class="profileLink">Messages</a></li>
        <li><a href="#/profile/trades" class="profileLink">Trades</a></li>
      </ul>
  </div>

  <div class="profile-feedback">
 	<h4>Feedback Score</h4>
 	{{feedbackScore}} / 5 Star Rating
 	<br>
	Out of {{totalRatings}} ratings
  </div>


  <div class="profile-trades">
       <div>
           <h3>Recent Feedback</h3>
           <br>
	   "Great service!"
	   <br>
	   <br>
	   "I traded baby sitting for excellent fresh fruits! I recommend trading with this user."
       </div>
  </div>

</div>