<div ng-controller="profileController">
  <div ng-controller="modalController">
  <br>
  <h3 class="title">Your Profile</h3>

  <br>
  <br>
  <div class="profile-section" style="margin-top: 0px">
    <div class="profile">
     <div class="profile-img">
        <img src="img/bareProfile.png">
     </div>

     <h4>{{user.username}}</h4>
     <h5>{{user.email}}</h5>
     <h5>ZIP {{user.zipcode}}</h5>
     <button ng-click="toggleModal();" class="btn btn-default" style="padding: 0px 5px 0px 5px">Update photo</button>
    </div>
    <div class="profile-feedback">
 	<h4>Feedback Score</h4>
 	{{feedbackScore}} / 5 Star Rating
 	<br>
	Out of {{totalRatings}} ratings
    </div>
	<br>
        <a style="margin: 20px 10px 0px 170px;" href="#/profile/inventory" class="profileLink">Inventory</a>
        |<a href="#/profile/wishlist" class="profileLink">Wishlist</a>
        |<a href="#/profile/messages" class="profileLink">Messages</a>
        |<a href="#/profile/trades" class="profileLink">Trades</a>
  </div>
  <br>
  <div class="profile-section" style="width: 300px; height: 250px;">
   <div class="profile-trades">
           <h3>Recent Feedback</h3>
	   <hr>
           <br>
	   "Great service!"
	   <br>
	   <br>
	   "I traded baby sitting for excellent fresh fruits! I recommend trading with this user."
	   <br>
    </div>
  </div>
  <br>
  <div class="profile-section" style="width: 460px; height: 250px;">
     <div class="profile-trades">
	<h3>Recent Activity</h3>
	   <hr>
          <br>
	   	Traded with nina333
	   <br>
	   <br>
		Added items to wishlist 
	   <br>
	   <br>
		Browsing for dogs
	   <br>
     </div>
  </div>

  <div class="container">
   <modal title="Update Profile Photo" visible="showModal">
	<form class="form-horizontal" name="profileForm" role="form" enctype="multipart/form-data">
	  <div class="form-group">
	    <label class="col-sm-2 control-label">Image:</label>
	    <div class="col-sm-10 inventoryForm">
		<!-- No binding support for file upload -->
		<input type="file" name="file" accept="image/png, image/jpeg, image/jpg" />
	       <i>*Image file must be of type jpeg, jpg, or png</i>
	    </div>
	  </div> 
	  <hr>
	  <br>
	  <button class="btn btn-success" type="submit" ng-click="uploadProfilePic();" data-dismiss="modal">Upload</button>
	</form>
	<br>
   </modal>  
  </div>

  </div>
</div>