<div ng-controller="tradesController">

  <br>
	<h3>
		<a href="#/profile">Profile</a>
		<span class="my-breadcrumb"> / </span>
		Trades
	</h3>
  <br>
  
  <div class="titleBar">
  	<h4>Incoming Trades</h4>
  	Requests from other users
  	<hr>
  </div>

  <div ng-show="!isIncomingTradeFound">
  		You don't have any incoming trades!
  </div>

  <ul class="posts">
     <li ng-repeat="item in incomingTrades">
    	<br>
	Requesting user: {{item.requestingUser}}
	<br>
    	Status: {{item.status}}
    	<br>
    	Date Requested: {{item.dateRequested}}
  	<br><br>
       <button ng-show="item.status == 'pending'" ng-click="respondToTrade(item, 'accept');" class="btn btn-default">Accept Trade</button>
       <button ng-show="item.status == 'pending'" ng-click="respondToTrade(item, 'reject');" class="btn btn-default">Reject Trade</button>
  	<button ng-show="item.status == 'accepted'" ng-click="cancelTrade(item, 'confirm');" class="btn btn-default">Confirm Trade</button>
	<button ng-show="item.status == 'rejected'" ng-click="cancelTrade(item, 'remove');" class="btn btn-default">Remove Trade</button>   
     </li>
  </ul>

  <br>
  <br>
  
  <div class="titleBar">
  	<h4>Outgoing Trades</h4>
		Your requests to other users
  	<hr>
  </div>

  <div ng-show="!isOutgoingTradeFound">
  		You don't have any outgoing trades! 
  </div>
  <ul class="posts">
     <li ng-repeat="item in outgoingTrades">
    	<br>
    	Owner: {{item.owner}}
    	<br>
	Status: {{item.status}}
	<br>
    	Date Requested: {{item.dateRequested}}
  	<br>
	<span ng-show="item.dateResponded!=''">Date Responded: {{item.dateResponded}}
	</span>
	<br>
	<button ng-click="cancelTrade(item, 'cancel');" class="btn btn-default">Cancel Trade</button>
     </li>
  </ul>

</div>
