<div ng-controller="tradesController">

  <br>
	<h3 class="title">
		<a href="#/profile">Profile</a>
		<span class="my-breadcrumb"> / </span>
		Trades
	</h3>
  <br>
  
  <div class="titleBar">
  	<h4><b>Incoming Trades</b></h4>
  	Requests from other users
  	<hr>
  </div>

  <div class="notrade" ng-show="!isIncomingTradeFound">
		<br>
  		You don't have any incoming trades!
  </div>

  <ul class="posts">
     <li class="gs trade" ng-repeat="item in incomingTrades">
    	<br>
	<div class="tradeProp">Trade request from {{item.requestingUser}}</div>
		<span class="titles">
			Requested {{item.reqItem[0].type}}:
			<br>
			Offered {{item.offeredItem[0].type}}:
			<br>
			Date Requested:
			<br>
			Status:
		</span>
			{{item.reqItem[0].name}}
			<br>
			{{item.offeredItem[0].name}}
			<br>
			{{item.dateRequested}}
			<br>
			{{item.status}}	
		<br><br>
        <button ng-show="item.status == 'pending'" ng-click="respondToTrade(item, 'accept');" class="btn btn-default">Accept Trade</button>
        <button ng-show="item.status == 'pending'" ng-click="respondToTrade(item, 'reject');" class="btn btn-default">Reject Trade</button>
  	<button ng-show="item.status == 'accepted'" ng-click="cancelTrade(item, 'confirm');" class="btn btn-default">Confirm Trade</button>
	<button ng-show="item.status == 'rejected'" ng-click="cancelTrade(item, 'remove');" class="btn btn-default glyphicon glyphicon-trash"></button>   
     </li>
  </ul>

  <br>
  <br>
  
  <div class="titleBar">
  	<h4><b>Outgoing Trades</b></h4>
		Your requests to other users
  	<hr>
  </div>

  <div class="notrade" ng-show="!isOutgoingTradeFound">
		<br>
  		You don't have any outgoing trades! 
  </div>
  <ul class="posts">
     <li class="gs trade" ng-repeat="item in outgoingTrades">
    	<br>
    	<div class="tradeProp">Trade request to {{item.owner}}</div>
		<span class="titles">
			Requested {{item.reqItem[0].type}}:
			<br>
			Offered {{item.offeredItem[0].type}}:
			<br>
			Date Requested:
			<br>
			Status:
		</span>
			{{item.reqItem[0].name}}
			<br>
			{{item.offeredItem[0].name}}
			<br>
			{{item.dateRequested}}
			<br>
			{{item.status}}	
		<br>
	<span ng-show="item.dateResponded!=''">Date Responded: {{item.dateResponded}}
	</span>
	<br>
	<button ng-click="cancelTrade(item, 'cancel');" class="btn btn-default">Cancel Trade</button>
     </li>
  </ul>

</div>
