<div ng-controller="wishlistController">

  <br>
	<h3>
		<a href="#/profile">Profile</a>
		<span class="my-breadcrumb"> / </span>
		Wishlist
	</h3>
  <br>

  <div ng-show="!isWishListFound">
	You don't have anything in your wishlist! Click "Add" to add a good
	 or service to your wishlist. 
  </div>

  <div ng-repeat="item in wishList">
  	<img ng-if="item.imgUrl" ng-src="{{item.imgUrl}}">
  	<br>
  	 Name: {{item.name}} 
  	<br>
  	 Type: {{item.type}}
  	<br>
  	 Quantity: {{item.qty}}
  	<br>
	 Importance: {{item.importance}}
	<br>
  </div>


</div>