<div ng-controller="wishlistController">

  <br>
	<h3 class="title">
		<a href="#/profile">Profile</a>
		<span class="my-breadcrumb"> / </span>
		Wishlist
	</h3>
  <br>

  <div ng-show="!isWishListFound">
	You don't have anything in your wishlist! Click "Add" to add a good
	 or service to your wishlist. 
  </div>

  <ul class="posts">
     <li class="gs" ng-repeat="item in wishList">
  	<img ng-if="item.imgUrl" ng-src="{{item.imgUrl}}">
  	<br>
  	 <div class="post-blurb">{{item.name}} ({{item.type}})</div> 
  	 <b>Quantity:</b> {{item.qty}}
  	<br>
	 <b>Importance:</b> {{item.importance}}
	<br>
	<button ng-click="removeItem(item);" class="btn btn-default glyphicon glyphicon-trash"></button>
      </li>
  </ul>


</div>