<!doctype html>
<html lang="en">
<head>

  	<title>Trading Post</title>
  	<meta name="description" content="">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="lib/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="lib/angular/angular-route.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="trading-post.js"></script>
	<script type="text/javascript" src="routes/client-routes.js"></script>
	<script type="text/javascript" src="trading-post/directives/modal-directive.js"></script>
	<script type="text/javascript" src="trading-post/services/user-service.js"></script>
	<script type="text/javascript" src="trading-post/services/trades-service.js"></script>
	<script type="text/javascript" src="trading-post/services/gs-service.js"></script>
	<script type="text/javascript" src="trading-post/services/all-service.js"></script>
	<script type="text/javascript" src="trading-post/controllers/recentposts-client-controller.js"></script>
	<script type="text/javascript" src="trading-post/controllers/inventory-client-controller.js"></script>
	<script type="text/javascript" src="trading-post/controllers/profile-client-controller.js"></script>
	<script type="text/javascript" src="trading-post/controllers/results-client-controller.js"></script>
	<script type="text/javascript" src="trading-post/controllers/wishlist-client-controller.js"></script>
	<script type="text/javascript" src="trading-post/controllers/trades-client-controller.js"></script>

</head>

<body>
      <div class="header">

        <div class="header-content">

     	  <div class="logo"><a href="#/"><img src="img/tradingLogo.png"></a></div>

      	  <form class="navbar-form" name="searchForm" role="form" action="#/results" method="get">

   		<div class="input-group input-group-search searchBar">

		 <select name="category" class="form-control" style="width:30%">
			<option>All</option>
			<option>Beauty</option>
			<option>Clothing</option>
			<option>Electronics</option>
			<option>Entertainment</option>
			<option>Food</option>
			<option>Furniture</option>
			<option>Music</option>
			<option>Jewelry</option>
			<option>Kids</option>
			<option>Outdoors</option>
			<option>Pets</option>
		 </select> 

     	  	 <input type="text" name="gsName" class="form-control" placeholder="Search..." style="width:45%" required>
		 <input type="text" name="zipcode" class="form-control" placeholder="Zipcode..." style="width:25%">

            	 <div class="input-group-btn">
                	<button class="btn btn-default" style="background: #A4CF43;"><i class="glyphicon glyphicon-search green"></i></button>
            	 </div>

    	   	 <input type="hidden" name="mode" value="web"/>

    		 </div>

      	   </form>


          <br>
          <div class="menu">
          <a href="#/about" class="barLink">About</a>
          <a href="#/recent" class="barLink">Recent Posts</a>

	   <% if( locals.username ) { %>
             		<a href="#/profile" class="barLink">Your Profile</a>
		<span id="logoutLink">
	      		<%=usergreeting %>
	      		<a href="logout" class="barLink"><b>Log out</b></a>
		</span>
	   <% } else { %>
	      <a href="/signup" class="barLink"><b>Sign Up</b></a>
	      <a href="/login" class="barLink">Log in</a>
	   <% } %>

        </div>
    </div>
 
      </div>

      <main>
      <div class="page-content" ng-view></div>             
    <div class="page-column">
        <div class="column-random">
        <h4>Random Posts</h4>
      	<ol>
      		<li>Oranges</li>
      		<li>Dog Walking</li>
      		<li>Haircut</li>
      		<li>Gardening</li>
      		<li>Water</li>
      		<li>Cooking</li>
      		<li>Tomatoes</li>
      		<li>Coaching</li>
      		<li>Tutoring</li>
      		<li>Manicure</li>
      	</ol>
      </div>

      	<div class="column-quantity">
        <h4>Posts by Quantity</h4>
      	<ol>
      		<li>Oranges</li>
      		<li>Dog Walking</li>
      		<li>Haircut</li>
      		<li>Gardening</li>
      		<li>Water</li>
      		<li>Cooking</li>
      		<li>Tomatoes</li>
      		<li>Coaching</li>
      		<li>Tutoring</li>
      		<li>Manicure</li>
      	</ol>
      </div>
      </div>
  </main>
       
      <footer class="panel-footer">
      	<div class="footer-wrapper">
            <div class="footerSection">
              <p class="footerTitle">Get to Know Us</p>
	       <p class="footerText">Careers</p>
		<p class="footerText">Policies</p>
	       <p class="footerText">Press</p>
		<p class="footerText">Investors</p>		
	     </div>
            <div class="footerSection">
              <p class="footerTitle">Make Money With Us</p>
	       <p class="footerText">Trade on Trading Post</p>
		<p class="footerText">Advertise</p>
	     </div>
            <div class="footerSection">
              <p class="footerTitle">Let Us Help You</p>
	       <p class="footerText">Your Account</p>
		<p class="footerText">Your Trades</p>
	     </div>
	 </div>
      </footer>
    



</body>
</html>
