<!doctype html>
<html lang="en">
<head>

  	<title>Trading Post</title>

  	<meta name="description" content="">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="lib/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="lib/angular/angular-route.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="trading-post.js"></script>
	<script type="text/javascript" src="routes/client-routes.js"></script>

	
</head>

<body>

      <div class="header">

        <div class="header-content">

     	  <img src="img/tradingLogo.png">

        </div>
 
      </div>
	    

     <div class="page-content">

     	<br>
     	<h3>Log In</h3>  
		
	<hr>

	<h3>Enter Login Information:</h3>
	<br>
	<form class="form-horizontal" name="loginForm" role="form" action="/login" method="post">
	  <div class="form-group">
	    <label class="col-sm-2 control-label">Username:</label>
	    <div class="col-sm-10">
	      <input type="text" name="username" placeholder="Username" required>
	    </div>
	  </div> 
	  <div class="form-group">
 	   <label class="col-sm-2 control-label">Password:</label>
 	     <div class="col-sm-10">
	      <input type="password" name="passw" placeholder="Password" required>
	     </div>
	  </div>
	  <%=status %>
	  <hr>
		<button class="btn btn-success" type="submit">
		<span class="glyphicon glyphicon-user"></span>  Login
		</button>
	</form>
	<br>
	Not registered? <a href="/signup">Sign Up</a> or <a href="/">Go Home</a>


</div>


     </div>         
    
       
      <footer class="panel-footer">
            <div class="footerSection">
              <p class="footerTitle">Get to Know Us</p>
	       <p class="footerText">Careers</p>
		<p class="footerText">Policies</p>
	       <p class="footerText">Press</p>
		<p class="footerText">Investors</p>		
	     </div>
            <div class="footerSection">
              <p class="footerTitle">Make Money With Us</p>
	       <p class="footerText">Trade on Trading Post</p>
		<p class="footerText">Advertise</p>
	     </div>
            <div class="footerSection">
              <p class="footerTitle">Let Us Help You</p>
	       <p class="footerText">Your Account</p>
		<p class="footerText">Your Trades</p>
	     </div>
      </footer>
    



</body>
</html>
