<!doctype html>
<html lang="en">
<head>

  	<title>Trading Post</title>

  	<meta name="description" content="">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="lib/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="lib/angular/angular-route.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="trading-post.js"></script>
	<script type="text/javascript" src="routes/client-routes.js"></script>

	
</head>

<body>

      <div class="header">

        <div class="header-content">

     	  <img src="img/tradingLogo.png">

        </div>
 
      </div>
	    

     <div class="page-content">

     	<br>
     	<h3>Sign Up</h3>  
		
	<hr>

	<h3>Create New User:</h3>
	<br>
	<form class="form-horizontal" name="signupForm" role="form" action="/createUser" method="post">
	  <div class="form-group">
	    <label class="col-sm-2 control-label">Username:</label>
	    <div class="col-sm-10">
	       <input type="text" name="username" placeholder="Username" maxLength="16" required>
		</div>
	  </div> 
	  <div class="form-group">
	    <label class="col-sm-2 control-label">Email:</label>
	    <div class="col-sm-10">
	    <input type="email" name="email" placeholder="Email" maxLength="40" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-2 control-label">Phone:</label>
	    <div class="col-sm-10">
	    <input type="text" name="phone" placeholder="Phone" maxLength="12" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-2 control-label" style="padding-right:5px;">Zip Code:</label>
	    <div class="col-sm-10">
	    <input type="text" name="zip" placeholder="Zip Code" maxLength="16" required>
	    </div>
	  </div>
	  <div class="form-group">
 	   <label class="col-sm-2 control-label">Password:</label>
 	     <div class="col-sm-10">
	      <input type="password" name="passw1" placeholder="Password" maxLength="16" required>
	     </div>
	  </div>
 	 <div class="form-group">
 	   <label class="col-sm-2 control-label">Repeat:</label>
	     <div class="col-sm-10">
 	      <input type="password" name="passw2" placeholder="Repeat Password" maxLength="16" required>
 	     </div>
	  </div>
	  <hr>
		<span style="color:red"><%=userNotif%></span>
		<span style="color:red"><%=pwNotif%></span>
		<br><br>
		<button class="btn btn-success" type="submit">
		<span class="glyphicon glyphicon-user"></span>  Create New User
		</button>
	</form>
	<br>
	Registered already? <a href="/login">Log in</a> or <a href="/">Go Home</a>


</div>


     </div>         
    
       
      <footer class="panel-footer">
      	<div class="footer-wrapper">
            <div class="footerSection">
              <p class="footerTitle">Get to Know Us</p>
	       <p class="footerText">Careers</p>
		<p class="footerText">Policies</p>
	       <p class="footerText">Press</p>
		<p class="footerText">Investors</p>		
	     </div>
            <div class="footerSection">
              <p class="footerTitle">Make Money With Us</p>
	       <p class="footerText">Trade on Trading Post</p>
		<p class="footerText">Advertise</p>
	     </div>
            <div class="footerSection">
              <p class="footerTitle">Let Us Help You</p>
	       <p class="footerText">Your Account</p>
		<p class="footerText">Your Trades</p>
	     </div>
	 </div>
      </footer>
    



</body>
</html>
